<!-- <h1>WELCOME</h1> -->


  <div class="container centered-box3">
    <%= link_to 'Get your purse and run for...', sample_sales_path, class:"title" %> 
    <br> 
    <div id="front_image" >
      <%= image_tag("sample-sale.jpg") %>
    </div>    
  </div>




